<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sala de chat</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="Chat de GOUS" />
        <meta name="viewport" content="width = device-width,initial-scale=1.0" />
        <meta name="report" content="index, follow" />
        <link type="text/css" href="../../css/style-chat.css" rel="stylesheet">
        <link rel="icon" href="...">
    </head>

    <body>
        <table class="table">
            <tr>
                <td><img class="FUSR" src="Imagenes/Usuario.png" alt="Foto de Usuario"></td>
                <td class="descripcion">
                    <ul class="Des">
                        <li><a href="../Perfil/perfil.html">El Pepe</a></li>
                        <p>Estudiante</p>
                    </ul>
                </td>
            </tr>
        </table>
        <div id="chatbox">
            <div class="message destinatario">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div class="content-msg">
                    <b>El Pepe </b><i>11:00 pm</i><br>
                    <p>esto es un mensaje enviado por el destinatario 1</p>
                </div>
            </div>
            <div class="message mensajero">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div class="content-msg">
                    <b>Tú </b><i>11:01 pm</i><br>
                    <p>
                        esto es un mensaje enviado por el mensajero 1
                        fdsjhaklfdsah fdsaifdhsauifsdah fdsahfusiad ofh sans-serif 
                        fiashfus iaofhsau ihfdsuai ofhsuaif hdsuaiofhd saufh
                        fh uiosahf usaiofh sduiaofhsa uiofshuf iosahfus align-items
                    </p>
                </div>
            </div>
            <div class="message destinatario">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div class="content-msg">
                    <b>El Pepe </b><i>11:02 pm</i><br>
                    <p>
                        esto es un mensaje enviado por el destinatario 2
                    </p>
                </div>
            </div>
            <div class="message mensajero">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div class="content-msg">
                    <b>Tú </b><i>11:03 pm</i><br>
                    <p>
                        esto es un mensaje enviado por el mensajero 2
                    </p>
                </div>
            </div>
            <div class="message destinatario">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div>
                    <b>El Pepe </b><i>11:04 pm</i><br>
                    <p>
                        esto es un mensaje enviado por el destinatario 3
                    </p>
                </div>
            </div>
            <div class="message mensajero">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div class="content-msg">
                    <b>Tú </b><i>11:05 pm</i><br>
                    <p>esto es un mensaje enviado por el mensajero 3</p>
                </div>
            </div>
            <div class="message destinatario">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div class="content-msg">
                    <b>El Pepe </b><i>11:06 pm</i><br>
                    <p>esto es un mensaje enviado por el destinatario 4</p>
                </div>
            </div>
            <div class="message mensajero">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div class="content-msg">
                    <b>Tú </b><i>11:07 pm</i><br>
                    <p>esto es un mensaje enviado por el mensajero 4</p>
                </div>
            </div>
            <div class="message destinatario">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div class="content-msg">
                    <b>El Pepe </b><i>11:00 pm</i><br>
                    <p>esto es un mensaje enviado por el destinatario 1</p>
                </div>
            </div>
            <div class="message mensajero">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div class="content-msg">
                    <b>Tú </b><i>11:01 pm</i><br>
                    <p>
                        esto es un mensaje enviado por el mensajero 1
                        fdsjhaklfdsah fdsaifdhsauifsdah fdsahfusiad ofh sans-serif 
                        fiashfus iaofhsau ihfdsuai ofhsuaif hdsuaiofhd saufh
                        fh uiosahf usaiofh sduiaofhsa uiofshuf iosahfus align-items
                    </p>
                </div>
            </div>
            <div class="message destinatario">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div class="content-msg">
                    <b>El Pepe </b><i>11:02 pm</i><br>
                    <p>
                        esto es un mensaje enviado por el destinatario 2
                    </p>
                </div>
            </div>
            <div class="message mensajero">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div class="content-msg">
                    <b>Tú </b><i>11:03 pm</i><br>
                    <p>
                        esto es un mensaje enviado por el mensajero 2
                    </p>
                </div>
            </div>
            <div class="message destinatario">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div>
                    <b>El Pepe </b><i>11:04 pm</i><br>
                    <p>
                        esto es un mensaje enviado por el destinatario 3
                    </p>
                </div>
            </div>
            <div class="message mensajero">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div class="content-msg">
                    <b>Tú </b><i>11:05 pm</i><br>
                    <p>esto es un mensaje enviado por el mensajero 3</p>
                </div>
            </div>
            <div class="message destinatario">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div class="content-msg">
                    <b>El Pepe </b><i>11:06 pm</i><br>
                    <p>esto es un mensaje enviado por el destinatario 4</p>
                </div>
            </div>
            <div class="message mensajero">
                <img src="Imagenes/Usuario.png" width="32" height="32">
                <div class="content-msg">
                    <b>Tú </b><i>11:07 pm</i><br>
                    <p>esto es un mensaje enviado por el mensajero 4</p>
                </div>
            </div>
        </div>
        <div>
            <form action="#" method="POST">
                <input type="text" name="message" id="input-msj" placeholder="Escribe un mensaje...">
                <button name="send"> > </button>
            </form>
        </div>
    </body>

</html>
