* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* FONDO */
    background: #13293d;
}

.cuadro_central {
    width: 1396px;
    height: calc(100vh - 40px);
    /* background: #fff; */
    display: flex;
}

.ladoizquierdo {
    flex: 29%;
    background: #070f16;
}

/* CHAT */
.ladoderecho {
    position: relative;
    flex: 71%;
    background: #e5e5e5;
}

.ladoderecho {
    /* content: ""; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background: url(../views/img/fondo-estandar.png);
    opacity: 1;
}

.form-mensaje {
    width: 100%;
    position: absolute;
    bottom: 0px;
}
/* HEADER O NAV */
.header {
    height: 60px;
    background: #0e1f2d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.perfilimg {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_icons {
    display: flex;
}

.nav_icons li {
    display: flex;
    justify-content: none;
    cursor: pointer;
    color: #358abbb5;
    font-size: 1.5em;
    margin-left: 22px;
}

/* BUSCADOR */
.search_chat {
    position: relative;
    width: 100%;
    height: 50px;
    background: #070f16;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.search_chat div {
    width: 100%;
}

.search_chat div input {
    width: 100%;
    outline: none;
    border: none;
    background: rgb(255, 255, 255);
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
}

.search_chat div input::placeholder {
    color: rgb(22, 3, 3);
}

.search_chat div ion-icon {
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
}

.listadelchat {
    position: relative;
    height: calc(100% - 110px); /* 60+50=110 */
    overflow-y: auto;
}

.listadelchat .block {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(13, 152, 184, 0.86);
    cursor: pointer;
}

.listadelchat .block .imgbx {
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: auto;
}

.listadelchat .block .details {
    position: relative;
    width: 100%;
}

.listadelchat .block .details .listHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-left: 10px;
}

.listadelchat .block .details .listHead h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.listadelchat .block .details .listHead .time {
    font-size: 0.75em;
    color: var(--color-default);
}

.listadelchat .block.unread .details .listHead .time {
    color: #dfe0ec;
}
.message_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_p p {
    color: rgb(172, 172, 172);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.message_p b {
    background: #d02d11;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
}
