
/* Ajuste y posici贸n del bot贸n */
.gousp-fixed img {
    vertical-align: top;
    width: 65px;
    height: 65px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 23px;
    animation-name: animWhatsapp;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Animaci贸n del bot贸n */
@keyframes animWhatsapp {
    0% {
        transform: scale(1, 1) rotate(0deg);
    }

    50% {
        transform: scale(0.85, 0.85) rotate(5deg);
    }
}