body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #13293d;
  display: flex;
  justify-content: center;
}

div {
  margin-top: 150px;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  background-color: #909fae;
  padding: 20px;
  box-shadow: 0px 0px 15px 0.5px black;
}

h1 {
  text-align: center;
}

input[type="text"] {
  background-color: #d6e1e7;
  width: 100%;
  padding: 12px 19px; /* Alto y derecha de palabra*/
  margin: 8px 0; /*Margen de input (entre) */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* se adapta a la caja*/
}

input[type="password"] {
  background-color: #d6e1e7;
  width: 100%;
  padding: 12px 19px; /* Alto y derecha de palabra*/
  margin: 8px 0; /*Margen de input (entre) */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* se adapta a la caja*/
}

input[type="submit"] {
  width: 100%;
  background-color: #3e92cc;
  color: white;
  padding: 12px 19px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2a628f;
}
