body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #13293d;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    position:relative;
    text-align: center;
	top:62px;
	left:10px;
}
.login{
    display: block;
    padding: 15px 30px;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    top: 52px;
    left: 200px;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.formulario{
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px;
  }
.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #B06AB3;
    padding-top: 20px;
}
  
.titulo{
    font-size: 50px;
    margin-bottom: 50px;
  }
.input_Contenedor{
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }
.input{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    z-index: 1;
  }

.label{
    position: absolute;
    top: -15px;
    left: 0px;
    background-color: white;
    color: #2a628f;
    font-size: 15px;
    transition: 0.5s;
  }
.submit{
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #2a628f;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 30px;
}

.input:focus{
    border: 2px solid #2a628f;
}
.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #2a628f;
  }
input[type="submit"] {
    width: 45%;
    background-color: #3e92cc;
    color: white;
    padding: 12px 19px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #2a628f;
}

a[type="submit"] {
    width: 45%;
    background-color: #3e92cc;
    color: white;
    padding: 12px 19px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
a[type="submit"]:hover{
    background-color: #2a628f;
}