<!DOCTYPE html>
    <head>
        <title>Quienes Somos - GOUS</title>
        <meta charset="UTF-8"/>
        <meta name="descripcion" content="Home Gous" />
        <meta name="viewport" content="width = devuice_widht,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="style_home.css">
        <link rel="icon" href="./Imagenes/home/logo.jpeg">
    </head>
    <body>
                <header>
                    <a href="#" class="logo">
                        <img src="/Imagenes/home/Banner.png" alt="logo">
                    </a>
                    <nav>
                        <p class="p1">Te damos la bienvenida</p>
                        <p class="p1">(Usuario)</p>
                    </nav>
                </header>
                <div class="container">
                    <div class="btn-menu">
                        <label for="btn-menu">☰</label>
                    </div>
                        <div class="titulo">
                            <h1>Explora nuestra aplicacion</h1>
                        </div>
                        <nav class="menu">
                            <a href="./Home.html">Inicio/Home</a>
                            <a href="#">Nosotros</a>
                            <a href="#">Contacto</a>
                            <a href="#">Iniciar Sesion</a>
                            <a href="#">Registrarse</a>
                        </nav>
                    </div>
                <div class="capa"></div>
                    <input type="checkbox" id="btn-menu">
                <div class="container-menu">
                    <div class="cont-menu">
                        <nav>
                            <a href="./Cperfil.html">Configurar Perfil</a>
                            <a href="#">Configurar Chats</a>
                            <a href="#">Configurar Almacenamiento</a>
                        </nav>
                        <label for="btn-menu">✖️</label>
                    </div>
                </div>
                    </div>
                    
                <div class="clearfix"></div>
                    
                    <div id="Noti">
                        <p class="p2">Creadores de la aplicacion</p>
                        <br>
                        <p class="p3">A continuacion veras los creadores de la pagina, nosotros somos estudiantes de primer año, los cuales
                            somos de la carrera Ingenieria Civil en Informatica, ideamos este proyecto con la idea de mejorar muchos aspectos
                            de la universidad, este proyecto fue para el ramo de "Taller de integracion", esperamos que difrutes de la pagina
                            te desea mucha suerte el equipo de GOUS.
                        </p>
                        <br>
                        <div class="INTE">
                            <div class="Integrantes1">
                                <div>
                                    <img class="osc" src="./Imagenes/Nosotros/Oscar.png" alt="Oscar">
                                    <h3>Oscar Mellado</h3>
                                </div>
                                <div>
                                    <img class="col" src="./Imagenes/Nosotros/Colchones.png" alt="Cristobal">
                                    <h3>Cristobal Sandoval</h3>
                                </div>
                            </div>
                            <div class="Integrantes2">
                                <div>
                                    <img class="pab" src="./Imagenes/Nosotros/Pablo.png" alt="Pablo">
                                    <h3>Pablo Antivil</h3>
                                </div>
                                <div>
                                    <img class="dan" src="/Imagenes/Nosotros/Dani.jpg" alt="Daniel">
                                    <h3>Daniel Peña</h3>
                                </div>
                            </div>
                            </div>
                    </div>
                <aside>
                    <h2>¿Que quieres hacer?</h2>
                    <form>
                        <input type="text">
                        <input type="submit" value="Buscar">
                    </form>
                </aside>
                <div class="clearfix"></div>
                <footer>Todos los derechos reservados GOUS 2022</footer>
            </div>
    </body>