*{
    margin: 0px;
    padding: 0;
}
body{
    background-image: linear-gradient(45deg, #004FFF, #2DC7FF);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color:white;
}
#container{
    width: 100%;
}
header{
    display: flex;
    height: 80px;
    background-image: linear-gradient(45deg, #004FFF, #2DC7FF);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.p1{
    font-weight: 600;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
    color: #eee;
    font-size: 22px;
}
.p2{
    font-weight: bold;
    margin-left: 50px;
    padding-top: 5px;
    text-align: left;
    color: #eee;
    font-size: 26px;

}
.p3{
    margin-left: 50px;
    padding-top: 5px;
    text-align: left;
    color: #eee;
    font-size: 18px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: red;
}
.clearfix{
    clear: both;
}
#Noti{
    margin: auto;
    margin-top: 27px;
    float: left;
    width: 80%;
    background-image: linear-gradient(45deg, #003bbb, #29addd);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    color:#eee;
}
.Link{
    font-weight: bold;
}
ul li{
    margin: 10px;
    margin-left: 80px;
}
.article{
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    border-bottom: 1px solid #eee;
}
aside{
    float: left;
    width: 20%;
    background-image: linear-gradient(45deg, #ffffff, #29addd);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    min-height: 500px;
}
footer{
    background-image: linear-gradient(45deg, #ffffff, #29addd);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;left: 0;
}
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .titulo{
    float: left;
    line-height:100px;
}
.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.titulo h1{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}
.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}