*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* html{ */
/*     font-size: 62.5%; */
/* } */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FUSR {
    height: 60px;
    width: 60px;
}
.table{
    border: 3px solid black;
    justify-content: space-evenly;
    width: 600px;
}

.descripcion{
    font-size: 1.8rem;
    margin: 0 auto;
}

.Des li{
    list-style-type: none;
}
.Des p{
    font-size: 1.3rem;
}

#chatbox {
    width: 598px;
    height: 700px;
    line-height: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid;
}

.message {
    display: flex;
    margin: 5px;
}


