<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- DIV Contenedor del form -->
    <div class="div-contenedor-form">
      <form action="">
        <h1>Login</h1>
        <input type="text" value="" class="inp" placeholder="User" /><br />
        <input type="text" value="" class="inp" placeholder="Password" /><br />
        <input type="submit" />
      </form>
      <a href="#">Olvidaste tu contraseña?</a>
    </div>
  </body>
</html>
