<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="../../css/style-login-mejorado.css" />
  </head>
  <body>
    <!-- DIV Contenedor del form -->
    <div class="login">
        <form action="" class="formulario">
          <h1 class="titulo">Login</h1>
          <div class="input_Contenedor">
            <input type="text" class="input" placeholder="">
            <label for="" class="label">Nombre de usuario</label>
          </div>
    
          <div class="input_Contenedor">
            <input type="password" class="input" placeholder="">
            <label class="label">Contraseña</label>
          </div>
        <input type="submit" class="submit" value="Iniciar Sesión"/>
        <a href="#">¿Olvidaste tu contraseña?</a>
        <a href="registro.html">Crear una nueva cuenta</a>
      </form>
    </div>
  </body>
</html>
