<!DOCTYPE html>
    <head>
        <title>Home Gous</title>
        <meta charset="UTF-8"/>
        <meta name="descripcion" content="Home Gous" />
        <meta name="viewport" content="width = devuice_widht,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../../css/style-home.css">
        <link rel="icon" href="/logo.jpeg">
    </head>
    <body>
            <div id="container">
                <header>
                    <a href="#" class="logo">
                        <img src="logo.jpeg" alt="logo">
                        <h1 class="nombre-empresa">GOUS</h1>
                    </a>
                    <nav>
                        <a href="" class="nav-link">Inicio/Home</a>
                        <a href="" class="nav-link">Noticias UCT</a>
                        <a href="" class="nav-link">Contacto</a>
                        <p class="p1">Te damos la bienvenida</p>
                        <p class="p1">(Usuario)</p>
                    </nav>
                </header>
                    
                <div class="clearfix"></div>
                    
                    <div id="Noti">
                        <p class="p2" >Noticias UCT</p>
                        <img src="noticia2.jpg" alt="noti">
                        <ul>
                            <li>
                                <a href="">
                                    Like
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Comentar
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Añadir al calendario
                                </a>
                            </li>
                        </ul>
                    </div>
                <aside>
                    <h2>¿Que quieres hacer?</h2>
                    <form>
                        <input type="text">
                        <input type="submit" value="Buscar">
                    </form>
                </aside>
                <div class="clearfix"></div>
                <footer>Todos los derechos reservados GOUS 2022</footer>
            </div>
