<!DOCTYPE html>
<html>

    <head>
        <title>Quienes Somos - GOUS</title>
        <meta charset="UTF-8"/>
        <meta name="descripcion" content="Home Gous" />
        <meta name="viewport" content="width = devuice_widht,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../../css/style-home.css">
        <link rel="icon" href="./Imagenes/home/logo.jpeg">
    </head>
    <body>
        <header>
            <a href="#" class="logo">
                <img src="/Imagenes/home/Banner.png" alt="logo">
            </a>
            <nav>
                <p class="p1">Te damos la bienvenida</p>
                <p class="p1">(Usuario)</p>
            </nav>
            <div class="container">
                <div class="btn-menu">
                    <label for="btn-menu">☰ </label>
                </div>
                <div class="titulo">
                    <h1>Explora nuestra aplicacion</h1>
                </div>
                <nav class="menu">
                    <a href="./Home.html">Inicio/Home</a>
                    <a href="#">Nosotros</a>
                    <a href="#">Contacto</a>
                    <a href="#">Iniciar Sesion</a>
                    <a href="#">Registrarse</a>
                </nav>
            </div>
        </header>
        <div class="capa"></div>
            <input type="checkbox" id="btn-menu">
        <div class="container-menu">
            <div class="cont-menu">
                <nav>
                    <a href="./Cperfil.html">Configurar Perfil</a>
                    <a href="#">Configurar Chats</a>
                    <a href="#">Configurar Almacenamiento</a>
                </nav>
                <label for="btn-menu">✖️</label>
            </div>
        </div>
            
        <div class="clearfix"></div>
            
            <div id="Noti">
                <p class="p2">Creadores de la aplicacion</p><br>
                <div class="Int1">
                    <ul>
                        <li>Oscar Mellado</li>
                    </ul>
                </div>
                <div class="Int2">
                    <ul>
                        <li>Cristobal Sandoval</li>
                    </ul>
                </div>
                <div class="Int3">
                    <ul>
                        <li>Pablo Antivil</li>
                    </ul>
                </div>
                <div class="Int3">
                    <ul>
                        <li>Daniel Peña</li>
                    </ul>
                </div>
            </div>
            <aside>
                <h2>¿Que quieres hacer?</h2>
                <form>
                    <input type="text">
                    <input type="submit" value="Buscar">
                </form>
            </aside>
            <div class="clearfix"></div>
            <footer>Todos los derechos reservados GOUS 2022</footer>
        </div>
    </body>
</html>
