<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chats</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../../css/chats.css" />
        <script src="../../js/mostrar_mensajes.js"></script>
    </head>
    <body>
        <div class="contenedor-chats">
            <div class="chats"> </div>
            <div class="chat">
                <div class="contenedor-mensajes" id="respuesta"></div>
                <div class="barra-enviar">
                    <h1>agregar mensaje</h1>
                    <form
                        name="formulario"
                        method="post"
                        action="../../src/agregarMensaje.php">
                        <input type="text" name="mensaje" class="texto" />
                        <input type="submit" value="Enviar" />
                    </form>
                </div>
            </div>
        </div>

        <h1>Leer mensajes por nombres</h1>
        <form
            action="../../src/leerColeccion.php"
            method="post"
            id="formulario">
            <input type="text" name="usuario1" value="Cochones" />
            <input type="text" name="usuario2" value="Ozk" />
            <input type="submit" value="enviar" />
        </form>
        <h1>Mostrar Mensajes</h1>
        <!-- <button id="demo" onclick="activarChat()">Activar</button> -->
        <button id="demo" onclick="verChat()">Activar</button>
        <button id="demo" onclick="desactivarChat()">Desactivar</button>

        <h1>Crear nuevo chat</h1>
        <!-- crear chat nuevo o nuevo documento -->
        <form action="../../src/crear_chat.php" method="post">
            <input type="text" name="nombre_chat" id="" />
            <input type="submit" value="enviar" />
        </form>

        <!-- PREVENTDEFAULT -->
        <script src="../../js/preventDefault.js"></script>
    </body>
</html>
