<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Configuraciones</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="Configuraciones de GOUS" />
        <meta name="viewport" content="width = devuice-widht,initial-scale=1.0" />
        <meta name="report" content="index, follow" />
        <link type="text/css" href="../../css/style-config.css" rel="stylesheet">
        <link rel="icon" href="...">
    </head>

    <body>
        <header class="header">
            <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">漣</label>
            </div>
                <div class="titulo">
                    <h1>Configuraciones de Gous</h1>
                </div>
            </div>
        </header>
        <div class="capa"></div>
            <input type="checkbox" id="btn-menu">
        <div class="container-menu">
            <div class="cont-menu">
                <nav>
                    <a href="./Cperfil.html">Configurar Perfil</a>
                    <a href="#">Configurar Chats</a>
                    <a href="#">Configurar Almacenamiento</a>
                </nav>
                <label for="btn-menu">✖️</label>
            </div>
        </div>
            </div>
    </body>
</html>
