<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Configuraciones de Perfil</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="Configuraciones perfil de GOUS" />
        <meta name="viewport" content="width = devuice-widht,initial-scale=1.0" />
        <meta name="report" content="index, follow" />
        <link type="text/css" href="./CSS/style2.css" rel="stylesheet">
        <link rel="icon" href="...">
    </head>

    <body>
        <header class="header">
            <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
                <div class="titulo">
                    <h1>Configuraciones de perfil</h1>
                </div>
                <nav class="menu">
                    <a href="./Config.html">Regresar</a>
                </nav>
            </div>
        </header>
        <div class="capa"></div>
    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <a href="#">Cambiar Numero</a>
                <a href="#">Cambiar Nombre</a>
                <a href="#">Eliminar Cuenta</a>
            </nav>
            <label for="btn-menu">✖️</label>
        </div>
    </div>
        </div>
    </body>
</html>