<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GOUS</title>
        <!-- CSS -->
        <link rel="stylesheet" href="../../css/chats.css" />
        <link rel="stylesheet" href="../../css/chat.css" />
        <link rel="stylesheet" href="../../css/contactos.css" />
    </head>
    <body>
        <!-- CUADRO GENERAL -->
        <div class="cuadro_central">
            <!-- LADO IZQUIERDO -->
            <div class="ladoizquierdo">
                <!-- HEADER -->
                <div class="header">
                    <!-- IMAGEN USER -->
                    <div class="perfilimg">
                        <img src="../img/Photo_perfil.png" class="cover" />
                    </div>
                    <!-- BOTONES -->
                    <ul class="nav_icons">
                        <li id="boton-contacto">
                            <ion-icon name="chatbox"> </ion-icon>
                        </li>
                        <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
                    </ul>
                </div>
                <!-- BUSCADOR -->
                <div class="search_chat">
                    <div>
                        <input type="text" placeholder="Busca..." />
                        <ion-icon name="search-outline"></ion-icon>
                    </div>
                </div>
                <!-- CONTACTO ULTIMO MENSAJE -->
                <div class="listadelchat" id="listadelchat">
                    <!-- LIANDING -->
                    <p id="loanding">CARGANDO...</p>
                    <!-- <div style="display: block"> -->
                </div>
                <!-- FORM NO OCUPACIONAL -->
                <div style="display: none">
                    <form action="" method="post" id="formulario">
                        <input type="text" name="nombre" disabled />
                        <input type="submit" id="submit" value="Enviar" />
                    </form>
                </div>
                <div style="display: none">
                    <form action="" method="post" id="formulario3">
                        <input type="text" name="nombre" disabled />
                        <input type="submit" id="submit" value="Enviar" />
                    </form>
                </div>
            </div>
            <div class="ladoderecho">
                <div class="header-chat" id="nav-chat"> </div>
                <div class="cont-messages" id="cont-mensaje">
                    <div class="contenedor-mensajes scroll" id="respuesta">
                        <!-- AQUI LLEGAN LOS MENSAJES -->
                    </div>
                </div>
                <div class="buscar">
                    <form action="" method="post" id="formulario2">
                        <input
                            type="text"
                            name="mensaje"
                            placeholder="Mensaje..."
                            class="input-message" />
                        <input
                            type="submit"
                            value="📤"
                            id="env_form"
                            class="btn" />
                    </form>
                </div>
            </div>
        </div>
        <!-- CONTACTOS -->
        <div class="cont-contactor-fondo" id="contac2">
            <div class="contenedor-contactos" id="contac">
                <ul class="lista-contactos"></ul>
            </div>
        </div>
        <!-- DISEÑOS BOTONES -->
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <!-- JS  -->
        <script src="../../js/crear_contactos.js"></script>
        <script src="../../js/crear_mensajes.js"></script>
        <script src="../../js/mostrar_receptores.js"></script>
    </body>
</html>
