<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Registro</title>
    <link rel="stylesheet" href="../../css/login-register.css">
</head>

<body>
    <main>
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Inicia sesion para entrar en la pagina</p>
                    <button id="btn__iniciar-sesion">Iniciar Sesion</button>
                </div>
                <div class="caja__trasera-register">
                    <h3>¿Aun no tienes una cuenta?</h3>
                    <p>Registrate para que puedas iniciar sesion</p>
                    <button id="btn__registrarse">Registrarse</button>
                </div>
            </div>
            <!--Formulario de login y registro-->
            <div class="contenedor__login-register">
                <!--Formulario de login-->
                <form action="" method="POST" class="formulario__login" id="form-login">
                    <h2>Iniciar Sesion</h2>
                    <input type="text" placeholder="Usuario o email" name="useroremail" required>
                    <input type="password" placeholder="Contraseña" name="passwd" required>
                    <button>Entrar</button>
                </form>
                <!--registro-->
                <form action="" method="POST" class="formulario__register" id="form-register">
                    <h2>Registrarse</h2>
                    <input type="email" placeholder="Correo Electronico" name="useremail" required>
                    <input type="text" placeholder="Usuario" name="username" required>
                    <input type="password" placeholder="Contraseña" name="pwd" required>
                    <input type="password" placeholder="Confirmar contraseña" name="pwdVerify" required>
                    <button>Registrarse</button>
                </form>
            </div>
        </div>
    </main>
    <script src="../../js/script.js"></script>
    <script src="../../js/regist.js"></script>
    <script src="../../js/login.js"></script>
</body>
</html>
